body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f2f2f2;
    margin: 20px;
}

h1 {
    color: black;
}

h2 {
    color: #555;
}

p {
    color: black;
    line-height: 1.6;
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 10px;
}

nav a {
    background-color: black;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 5px;
}

nav a:hover {
    background-color: gray;
}

.slika {
    width: 200px;
    border: 2px solid black;
    margin: 10px;
}

</html>
